<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.medicalqrcodeinventorysystem">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicalQRCodeInventorySystem"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".equipments.ViewEquipmentActivity" />
        <activity android:name=".equipments.EquipmentListActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".borrowreturn.BorrowLandingActivity" />
        <activity android:name=".borrowreturn.ReturnLandingActivity" />
        <activity android:name=".borrowreturn.BorrowEquipmentActivity" />
        <activity android:name=".borrowreturn.ReturnEquipmentActivity" />
        <activity android:name=".landing.LandingActivity" />
        <activity android:name=".user.SignUpActivity" />
        <activity android:name=".scanner.QRCodeScannerActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>